@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.subcontainer {
  @apply mt-10 grid grid-cols-1 sm:grid--cols-2 md:grid-cols-3 xl:grid-cols-5 2xl:grid-cols-6 gap-8;
}
